.rectangle2 {
  position: absolute;
  left: calc(50% - 21px);
  top: 0;
  width: 1576px;
  height: 102px;
  background-image: linear-gradient(267.9deg, #4bb46cff 0%, #b1c800ff 100%);
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
  transform: translateX(-50%);
}
.rectangle26 {
  position: absolute;
  left: 318px;
  top: 286px;
  width: 620px;
  height: 623px;
  outline: solid 1px #c6c6c6;
  outline-offset: -1px;
  background-color: #f5f5f5;
}
.rectangle28 {
  position: absolute;
  left: 961px;
  top: 139px;
  width: 302px;
  height: 377px;
  outline: solid 1px #c6c6c6;
  outline-offset: -1px;
  background-color: #f5f5f5;
}
.amazonasLeticia {
  color: #000;
  font-size: 12px;
  font-family: Nunito, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 982px;
  top: 187px;
  width: 103px;
  height: 19px;
  flex-direction: column;
}
.antioquiaMedellin {
  color: #000;
  font-size: 12px;
  font-family: Nunito, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 982px;
  top: 206px;
  width: 108px;
  height: 18px;
  flex-direction: column;
}
.araucaArauca {
  color: #000;
  font-size: 12px;
  font-family: Nunito, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 982px;
  top: 224px;
  width: 87px;
  height: 19px;
  flex-direction: column;
}
.atlanticoBarranquilla {
  color: #000;
  font-size: 12px;
  font-family: Nunito, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 982px;
  top: 243px;
  width: 124px;
  height: 18px;
  flex-direction: column;
}
.bolivarCartagenaDeIndias {
  color: #000;
  font-size: 12px;
  font-family: Nunito, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 982px;
  top: 261px;
  width: 160px;
  height: 19px;
  flex-direction: column;
}
.boyacaTunja {
  color: #000;
  font-size: 12px;
  font-family: Nunito, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 982px;
  top: 280px;
  width: 79px;
  height: 18px;
  flex-direction: column;
}
.caldasManizales {
  color: #000;
  font-size: 12px;
  font-family: Nunito, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 982px;
  top: 298px;
  width: 103px;
  height: 19px;
  flex-direction: column;
}
.caquetaFlorencia {
  color: #000;
  font-size: 12px;
  font-family: Nunito, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 982px;
  top: 317px;
  width: 107px;
  height: 18px;
  flex-direction: column;
}
.casanareYopal {
  color: #000;
  font-size: 12px;
  font-family: Nunito, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 982px;
  top: 335px;
  width: 92px;
  height: 19px;
  flex-direction: column;
}
.caucaPopayan {
  color: #000;
  font-size: 12px;
  font-family: Nunito, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 982px;
  top: 354px;
  width: 92px;
  height: 18px;
  flex-direction: column;
}
.cesarValledupar {
  color: #000;
  font-size: 12px;
  font-family: Nunito, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 982px;
  top: 372px;
  width: 100px;
  height: 19px;
  flex-direction: column;
}
.chocoQuibdo {
  color: #000;
  font-size: 12px;
  font-family: Nunito, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 982px;
  top: 391px;
  width: 85px;
  height: 18px;
  flex-direction: column;
}
.cordobaMonteria {
  color: #000;
  font-size: 12px;
  font-family: Nunito, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 982px;
  top: 409px;
  width: 106px;
  height: 19px;
  flex-direction: column;
}
.cundinamarcaBogota {
  color: #000;
  font-size: 12px;
  font-family: Nunito, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 982px;
  top: 428px;
  width: 129px;
  height: 18px;
  flex-direction: column;
}
.guainiaInirida {
  color: #000;
  font-size: 12px;
  font-family: Nunito, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 982px;
  top: 446px;
  width: 84px;
  height: 19px;
  flex-direction: column;
}
.guaviareSanJoseDelGuaviare {
  color: #000;
  font-size: 12px;
  font-family: Nunito, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 982px;
  top: 465px;
  width: 183px;
  height: 18px;
  flex-direction: column;
}
.huilaNeiva {
  color: #000;
  font-size: 12px;
  font-family: Nunito, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 982px;
  top: 483px;
  width: 68px;
  height: 19px;
  flex-direction: column;
}
._200 {
  color: #000;
  font-size: 12px;
  font-family: Nunito, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 1201px;
  top: 187px;
  width: 35px;
  height: 19px;
  flex-direction: column;
}
._2002 {
  color: #000;
  font-size: 12px;
  font-family: Nunito, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 1201px;
  top: 206px;
  width: 37px;
  height: min-content;
  flex-direction: column;
}
._100 {
  color: #000;
  font-size: 12px;
  font-family: Nunito, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 1201px;
  top: 224px;
  width: 30px;
  height: 19px;
  flex-direction: column;
}
._1002 {
  color: #000;
  font-size: 12px;
  font-family: Nunito, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 1201px;
  top: 243px;
  width: 43px;
  height: 18px;
  flex-direction: column;
}
._254 {
  color: #000;
  font-size: 12px;
  font-family: Nunito, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 1201px;
  top: 261px;
  width: 55px;
  height: 19px;
  flex-direction: column;
}
._545 {
  color: #000;
  font-size: 12px;
  font-family: Nunito, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 1201px;
  top: 280px;
  width: 27px;
  height: 18px;
  flex-direction: column;
}
._454 {
  color: #000;
  font-size: 12px;
  font-family: Nunito, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 1201px;
  top: 298px;
  width: 35px;
  height: 19px;
  flex-direction: column;
}
._4542 {
  color: #000;
  font-size: 12px;
  font-family: Nunito, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 1201px;
  top: 317px;
  width: 37px;
  height: 18px;
  flex-direction: column;
}
._457 {
  color: #000;
  font-size: 12px;
  font-family: Nunito, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 1201px;
  top: 335px;
  width: 32px;
  height: 19px;
  flex-direction: column;
}
._874 {
  color: #000;
  font-size: 12px;
  font-family: Nunito, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 1201px;
  top: 354px;
  width: 32px;
  height: 18px;
  flex-direction: column;
}
._144 {
  color: #000;
  font-size: 12px;
  font-family: Nunito, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 1201px;
  top: 372px;
  width: 34px;
  height: 19px;
  flex-direction: column;
}
._747 {
  color: #000;
  font-size: 12px;
  font-family: Nunito, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 1201px;
  top: 391px;
  width: 29px;
  height: 18px;
  flex-direction: column;
}
._564 {
  color: #000;
  font-size: 12px;
  font-family: Nunito, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 1201px;
  top: 409px;
  width: 36px;
  height: 19px;
  flex-direction: column;
}
._711 {
  color: #000;
  font-size: 12px;
  font-family: Nunito, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 1201px;
  top: 428px;
  width: 44px;
  height: 18px;
  flex-direction: column;
}
._954 {
  color: #000;
  font-size: 12px;
  font-family: Nunito, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 1201px;
  top: 446px;
  width: 29px;
  height: 19px;
  flex-direction: column;
}
._841 {
  color: #000;
  font-size: 12px;
  font-family: Nunito, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 1201px;
  top: 465px;
  width: 63px;
  height: 18px;
  flex-direction: column;
}
._4543 {
  color: #000;
  font-size: 12px;
  font-family: Nunito, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 1201px;
  top: 483px;
  width: 23px;
  height: 19px;
  flex-direction: column;
}
.rectangle32 {
  position: absolute;
  left: 960px;
  top: 538px;
  width: 619px;
  height: 371px;
  outline: solid 1px #c6c6c6;
  outline-offset: -1px;
  background-color: #f5f5f5;
}
.rectangle30 {
  position: absolute;
  left: 1278px;
  top: 139px;
  width: 302px;
  height: 377px;
  outline: solid 1px #c6c6c6;
  outline-offset: -1px;
  background-color: #f5f5f5;
}
.rectangle29 {
  position: absolute;
  left: 961px;
  top: 139px;
  width: 302px;
  height: 35px;
  background-color: #69ba4c;
}
.rectangle27 {
  position: absolute;
  left: 318px;
  top: 286px;
  width: 620px;
  height: 35px;
  background-color: #69ba4c;
}
.rectangle33 {
  position: absolute;
  left: 960px;
  top: 538px;
  width: 619px;
  height: 35px;
  background-color: #69ba4c;
}
.rectangle31 {
  position: absolute;
  left: 1278px;
  top: 139px;
  width: 302px;
  height: 35px;
  background-color: #69ba4c;
}
.rectangle3 {
  position: absolute;
  left: 0;
  top: 141px;
  width: 296px;
  height: 768px;
  outline: solid 1px #c6c6c6;
  outline-offset: -1px;
  background-color: #f7f7f7;
}
.citeCollaborative {
  color: #fff;
  font-size: 41px;
  font-weight: bold;
  font-family: Nunito, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: calc(50% - 250px);
  top: 26px;
  width: min-content;
  height: min-content;
  text-align: center;
  align-items: center;
  white-space: nowrap;
  flex-direction: column;
  transform: translateX(-50%);
}
.rectangle8 {
  position: absolute;
  left: calc(50% - -506.5px);
  top: calc(50% - 442px);
  width: 437px;
  height: 60px;
  border-radius: 14px;
  background-color: #fff;
  transform: translate(-50%, -50%);
}
.totalDeReclamations {
  position: absolute;
  left: 1122px;
  top: 31px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.textBlock {
  color: #818181;
  font-size: 18px;
  line-height: 20px;
  font-weight: bold;
  font-family: Nunito, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.textBlock2 {
  color: #818181;
  font-size: 18px;
  line-height: 20px;
  font-weight: bold;
  font-family: Nunito, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.derniereActualisatin1112024102 {
  color: #818181;
  font-size: 14px;
  line-height: 20px;
  font-family: Nunito, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 1257px;
  top: 107px;
  width: min-content;
  height: min-content;
  text-align: end;
  align-items: end;
  white-space: nowrap;
  flex-direction: column;
}
.elReportePuedeExportarResultad {
  position: absolute;
  left: 244px;
  top: 935px;
  width: 1119px;
  height: 24px;
  text-align: center;
  align-items: center;
  flex-direction: column;
}
.textBlock3 {
  color: #818181;
  font-size: 15px;
  line-height: 20px;
  font-family: Nunito, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.textBlock4 {
  margin-top: 0;
  color: #818181;
  font-size: 15px;
  line-height: 20px;
  font-family: Nunito, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.textBlock5 {
  margin-top: 0;
  color: #818181;
  font-size: 15px;
  line-height: 20px;
  font-family: Nunito, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.reclamationsParDepartement {
  color: #fdfdfd;
  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
  font-family: Nunito, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 979px;
  top: 141px;
  width: 265px;
  height: 24px;
  flex-direction: column;
}
.filtererLesInformationsPar {
  color: #4bb46c;
  font-size: 25px;
  line-height: 30px;
  font-weight: bold;
  font-family: Nunito, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 25px;
  top: 165px;
  width: 226px;
  height: 61px;
  flex-direction: column;
}
.reclamations {
  color: #fdfdfd;
  font-size: 20px;
  line-height: 30px;
  font-weight: bold;
  font-family: Nunito, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 338px;
  top: 288px;
  width: 365px;
  height: 30px;
  flex-direction: column;
}
.historiqueDesReclqmqtions {
  color: #fdfdfd;
  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
  font-family: Nunito, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 979px;
  top: 540px;
  width: 265px;
  height: 24px;
  flex-direction: column;
}
.reclamationParService {
  color: #fdfdfd;
  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
  font-family: Nunito, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 1296px;
  top: 141px;
  width: 265px;
  height: 24px;
  flex-direction: column;
}
.rectangle10 {
  position: absolute;
  left: 1261px;
  top: 33px;
  width: 25px;
  height: 38px;
  outline: solid 0.5px #bcbcbc;
  outline-offset: 0px;
  border-radius: 5px;
  background-color: #f1f1f1;
}
.unnamed {
  color: #d6d6d6;
  font-size: 18px;
  line-height: 20px;
  font-weight: bold;
  font-family: Nunito, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 1264px;
  top: 38px;
  width: 20px;
  height: 29px;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.rectangle11 {
  position: absolute;
  left: 1294px;
  top: 33px;
  width: 25px;
  height: 38px;
  outline: solid 0.5px #bcbcbc;
  outline-offset: 0px;
  border-radius: 5px;
  background-color: #f1f1f1;
}
._8 {
  color: #8a8a8a;
  font-size: 18px;
  line-height: 20px;
  font-weight: bold;
  font-family: Nunito, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 1297px;
  top: 38px;
  width: 20px;
  height: 29px;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.rectangle12 {
  position: absolute;
  left: 1327px;
  top: 33px;
  width: 25px;
  height: 38px;
  outline: solid 0.5px #bcbcbc;
  outline-offset: 0px;
  border-radius: 5px;
  background-color: #f1f1f1;
}
._9 {
  color: #8a8a8a;
  font-size: 18px;
  line-height: 20px;
  font-weight: bold;
  font-family: Nunito, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 1330px;
  top: 38px;
  width: 20px;
  height: 29px;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.rectangle13 {
  position: absolute;
  left: 1360px;
  top: 33px;
  width: 25px;
  height: 38px;
  outline: solid 0.5px #bcbcbc;
  outline-offset: 0px;
  border-radius: 5px;
  background-color: #f1f1f1;
}
.unnamed2 {
  color: #8a8a8a;
  font-size: 18px;
  line-height: 20px;
  font-weight: bold;
  font-family: Nunito, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 1363px;
  top: 38px;
  width: 20px;
  height: 29px;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.rectangle14 {
  position: absolute;
  left: 1393px;
  top: 33px;
  width: 25px;
  height: 38px;
  outline: solid 0.5px #bcbcbc;
  outline-offset: 0px;
  border-radius: 5px;
  background-color: #f1f1f1;
}
._5 {
  color: #8a8a8a;
  font-size: 18px;
  line-height: 20px;
  font-weight: bold;
  font-family: Nunito, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 1396px;
  top: 38px;
  width: 20px;
  height: 29px;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.rectangle15 {
  position: absolute;
  left: 1426px;
  top: 33px;
  width: 25px;
  height: 38px;
  outline: solid 0.5px #bcbcbc;
  outline-offset: 0px;
  border-radius: 5px;
  background-color: #f1f1f1;
}
._6 {
  color: #8a8a8a;
  font-size: 18px;
  line-height: 20px;
  font-weight: bold;
  font-family: Nunito, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 1429px;
  top: 38px;
  width: 20px;
  height: 29px;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.rectangle16 {
  position: absolute;
  left: 1459px;
  top: 33px;
  width: 25px;
  height: 38px;
  outline: solid 0.5px #bcbcbc;
  outline-offset: 0px;
  border-radius: 5px;
  background-color: #f1f1f1;
}
._4 {
  color: #8a8a8a;
  font-size: 18px;
  line-height: 20px;
  font-weight: bold;
  font-family: Nunito, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 1462px;
  top: 38px;
  width: 20px;
  height: 29px;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.rectangle17 {
  position: absolute;
  left: 1490px;
  top: 33px;
  width: 25px;
  height: 38px;
  outline: solid 0.5px #bcbcbc;
  outline-offset: 0px;
  border-radius: 5px;
  background-color: #f1f1f1;
}
._2 {
  color: #8a8a8a;
  font-size: 18px;
  line-height: 20px;
  font-weight: bold;
  font-family: Nunito, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 1493px;
  top: 38px;
  width: 20px;
  height: 29px;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.rectangle18 {
  position: absolute;
  left: 25px;
  top: 286px;
  width: 244px;
  height: 41px;
  outline: solid 1px #d4d4d4;
  outline-offset: -1px;
  border-radius: 7px;
  background-color: #fff;
}
.annee {
  color: #868686;
  font-size: 18px;
  line-height: 20px;
  font-weight: bold;
  font-family: Nunito, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 31px;
  top: 262px;
  width: 244px;
  height: 24px;
  flex-direction: column;
}
._2023 {
  color: #868686;
  font-size: 18px;
  line-height: 20px;
  font-weight: bold;
  font-family: Nunito, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 37px;
  top: 294px;
  width: 96px;
  height: 24px;
  justify-content: center;
  flex-direction: column;
}
.vector {
  position: absolute;
  left: 14.9567%;
  right: 84.178%;
  top: 30.5668%;
  bottom: 68.6235%;
  overflow: visible;
}
.icon {
  width: 100%;
  height: 100%;
}
.prestataire {
  color: #868686;
  font-size: 18px;
  line-height: 20px;
  font-weight: bold;
  font-family: Nunito, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 31px;
  top: 353px;
  width: 244px;
  height: 24px;
  flex-direction: column;
}
.rectangle19 {
  position: absolute;
  left: 25px;
  top: 377px;
  width: 244px;
  height: 41px;
  outline: solid 1px #d4d4d4;
  outline-offset: -1px;
  border-radius: 7px;
  background-color: #fff;
}
.selection {
  color: #868686;
  font-size: 18px;
  line-height: 20px;
  font-weight: bold;
  font-family: Nunito, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 37px;
  top: 385px;
  width: 96px;
  height: 24px;
  justify-content: center;
  flex-direction: column;
}
.vector2 {
  position: absolute;
  left: 14.9567%;
  right: 84.178%;
  top: 39.7773%;
  bottom: 59.413%;
  overflow: visible;
}
.icon2 {
  width: 100%;
  height: 100%;
}
.typeDeReclamation {
  color: #868686;
  font-size: 18px;
  line-height: 20px;
  font-weight: bold;
  font-family: Nunito, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 31px;
  top: 444px;
  width: 244px;
  height: 24px;
  flex-direction: column;
}
.rectangle20 {
  position: absolute;
  left: 25px;
  top: 468px;
  width: 244px;
  height: 41px;
  outline: solid 1px #d4d4d4;
  outline-offset: -1px;
  border-radius: 7px;
  background-color: #fff;
}
.selection2 {
  color: #868686;
  font-size: 18px;
  line-height: 20px;
  font-weight: bold;
  font-family: Nunito, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 37px;
  top: 476px;
  width: 96px;
  height: 24px;
  justify-content: center;
  flex-direction: column;
}
.vector3 {
  position: absolute;
  left: 14.9567%;
  right: 84.178%;
  top: 48.9879%;
  bottom: 50.2024%;
  overflow: visible;
}
.icon3 {
  width: 100%;
  height: 100%;
}
.cause {
  color: #868686;
  font-size: 18px;
  line-height: 20px;
  font-weight: bold;
  font-family: Nunito, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 31px;
  top: 535px;
  width: 244px;
  height: 24px;
  flex-direction: column;
}
.rectangle21 {
  position: absolute;
  left: 25px;
  top: 559px;
  width: 244px;
  height: 41px;
  outline: solid 1px #d4d4d4;
  outline-offset: -1px;
  border-radius: 7px;
  background-color: #fff;
}
.selection3 {
  color: #868686;
  font-size: 18px;
  line-height: 20px;
  font-weight: bold;
  font-family: Nunito, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 37px;
  top: 567px;
  width: 96px;
  height: 24px;
  justify-content: center;
  flex-direction: column;
}
.vector4 {
  position: absolute;
  left: 14.9567%;
  right: 84.178%;
  top: 58.1984%;
  bottom: 40.9919%;
  overflow: visible;
}
.icon4 {
  width: 100%;
  height: 100%;
}
.urgenceDeLaReclamation {
  color: #868686;
  font-size: 18px;
  line-height: 20px;
  font-weight: bold;
  font-family: Nunito, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 31px;
  top: 626px;
  width: 244px;
  height: 24px;
  flex-direction: column;
}
.rectangle22 {
  position: absolute;
  left: 25px;
  top: 650px;
  width: 244px;
  height: 41px;
  outline: solid 1px #d4d4d4;
  outline-offset: -1px;
  border-radius: 7px;
  background-color: #fff;
}
.selection4 {
  color: #868686;
  font-size: 18px;
  line-height: 20px;
  font-weight: bold;
  font-family: Nunito, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 37px;
  top: 658px;
  width: 96px;
  height: 24px;
  justify-content: center;
  flex-direction: column;
}
.vector5 {
  position: absolute;
  left: 14.9567%;
  right: 84.178%;
  top: 67.4089%;
  bottom: 31.7814%;
  overflow: visible;
}
.icon5 {
  width: 100%;
  height: 100%;
}
.zone {
  color: #868686;
  font-size: 18px;
  line-height: 20px;
  font-weight: bold;
  font-family: Nunito, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 31px;
  top: 717px;
  width: 244px;
  height: 24px;
  flex-direction: column;
}
.rectangle24 {
  position: absolute;
  left: 25px;
  top: 741px;
  width: 244px;
  height: 41px;
  outline: solid 1px #d4d4d4;
  outline-offset: -1px;
  border-radius: 7px;
  background-color: #fff;
}
.selection5 {
  color: #868686;
  font-size: 18px;
  line-height: 20px;
  font-weight: bold;
  font-family: Nunito, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 37px;
  top: 749px;
  width: 96px;
  height: 24px;
  justify-content: center;
  flex-direction: column;
}
.vector6 {
  position: absolute;
  left: 14.9567%;
  right: 84.178%;
  top: 76.6194%;
  bottom: 22.5709%;
  overflow: visible;
}
.icon6 {
  width: 100%;
  height: 100%;
}
.etat {
  color: #868686;
  font-size: 18px;
  line-height: 20px;
  font-weight: bold;
  font-family: Nunito, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 31px;
  top: 808px;
  width: 244px;
  height: 24px;
  flex-direction: column;
}
.rectangle23 {
  position: absolute;
  left: 25px;
  top: 832px;
  width: 244px;
  height: 41px;
  outline: solid 1px #d4d4d4;
  outline-offset: -1px;
  border-radius: 7px;
  background-color: #fff;
}
.selection6 {
  color: #868686;
  font-size: 18px;
  line-height: 20px;
  font-weight: bold;
  font-family: Nunito, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 37px;
  top: 840px;
  width: 96px;
  height: 24px;
  justify-content: center;
  flex-direction: column;
}
.vector7 {
  position: absolute;
  left: 14.9567%;
  right: 84.178%;
  top: 85.83%;
  bottom: 13.3603%;
  overflow: visible;
}
.icon7 {
  width: 100%;
  height: 100%;
}
.unnamed3 {
  color: #8a8a8a;
  font-size: 18px;
  line-height: 20px;
  font-weight: bold;
  font-family: Nunito, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 1313px;
  top: 27px;
  width: 20px;
  height: 29px;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.unnamed4 {
  color: #8a8a8a;
  font-size: 18px;
  line-height: 20px;
  font-weight: bold;
  font-family: Nunito, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 1412px;
  top: 51px;
  width: 20px;
  height: 29px;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.rectangle25 {
  position: absolute;
  left: 339px;
  top: 344px;
  width: 579px;
  height: 540px;
  background-image:/* webpackIgnore: true */ url('/assets/rectangle25.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.rectangle35 {
  position: absolute;
  left: 1323px;
  top: 443px;
  width: 17px;
  height: 17px;
  border-radius: 10px;
  background-color: #0081bd;
}
.rectangle34 {
  position: absolute;
  left: 1323px;
  top: 415px;
  width: 17px;
  height: 17px;
  border-radius: 10px;
  background-color: #2363c3;
}
.rectangle36 {
  position: absolute;
  left: 1323px;
  top: 471px;
  width: 17px;
  height: 17px;
  border-radius: 10px;
  background-color: #00ae80;
}
.rectangle37 {
  position: absolute;
  left: 1443px;
  top: 415px;
  width: 17px;
  height: 17px;
  border-radius: 10px;
  background-color: #fb8521;
}
.rectangle38 {
  position: absolute;
  left: 1443px;
  top: 443px;
  width: 17px;
  height: 17px;
  border-radius: 10px;
  background-color: #fbaf1e;
}
.rectangle39 {
  position: absolute;
  left: 1443px;
  top: 471px;
  width: 17px;
  height: 17px;
  border-radius: 10px;
  background-color: #fcc700;
}
.distributionEau {
  color: #000;
  font-size: 10px;
  line-height: 111.9%;
  font-weight: bold;
  font-family: Nunito, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 1348px;
  top: 418px;
  width: 81px;
  height: 11px;
  justify-content: center;
  flex-direction: column;
}
.electricite {
  color: #000;
  font-size: 10px;
  line-height: 111.9%;
  font-weight: bold;
  font-family: Nunito, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 1468px;
  top: 472px;
  width: 74px;
  height: 11px;
  justify-content: center;
  flex-direction: column;
}
.gas {
  color: #000;
  font-size: 10px;
  line-height: 111.9%;
  font-weight: bold;
  font-family: Nunito, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 1468px;
  top: 447px;
  width: 53.9508px;
  height: 10.8707px;
  justify-content: center;
  flex-direction: column;
}
.gestionDesDechets {
  color: #000;
  font-size: 10px;
  line-height: 111.9%;
  font-weight: bold;
  font-family: Nunito, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 1348px;
  top: 474px;
  width: 54px;
  height: 11px;
  justify-content: center;
  flex-direction: column;
}
.ehouts {
  color: #000;
  font-size: 10px;
  line-height: 111.9%;
  font-weight: bold;
  font-family: Nunito, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 1348px;
  top: 446px;
  width: 70px;
  height: 11px;
  justify-content: center;
  flex-direction: column;
}
.autre {
  color: #000;
  font-size: 10px;
  line-height: 111.9%;
  font-weight: bold;
  font-family: Nunito, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 1468px;
  top: 414px;
  width: 68.0424px;
  height: 20.1309px;
  justify-content: center;
  flex-direction: column;
}
.verticalGridLines {
  position: absolute;
  left: 1020.7363px;
  top: 624.2111px;
  width: 528.4578px;
  height: 216.9849px;
  overflow: visible;
}
.icon8 {
  width: 100%;
  height: 100%;
}
.horizontalGridLines {
  position: absolute;
  left: 1020.7363px;
  top: 624.2111px;
  width: 528.4577px;
  height: 216.9849px;
  overflow: visible;
}
.icon9 {
  width: 100%;
  height: 100%;
}
.left_label_972 {
  color: #6a717d;
  font-size: 10px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 988px;
  top: 614px;
  width: 26.1891px;
  height: 20.4221px;
  text-align: end;
  align-items: end;
  flex-direction: column;
}
.left_label_9722 {
  color: #6a717d;
  font-size: 10px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 988px;
  top: 668.2462px;
  width: 26.1891px;
  height: 20.4221px;
  text-align: end;
  align-items: end;
  flex-direction: column;
}
.left_label_9723 {
  color: #6a717d;
  font-size: 10px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 988px;
  top: 722.4925px;
  width: 26.1891px;
  height: 20.4221px;
  text-align: end;
  align-items: end;
  flex-direction: column;
}
.left_label_9724 {
  color: #6a717d;
  font-size: 10px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 988px;
  top: 776.7387px;
  width: 26.1891px;
  height: 20.4221px;
  text-align: end;
  align-items: end;
  flex-direction: column;
}
.left_label_9725 {
  color: #6a717d;
  font-size: 10px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 988px;
  top: 830.9849px;
  width: 26.1891px;
  height: 20.4221px;
  text-align: end;
  align-items: end;
  flex-direction: column;
}
.bottom_label_972 {
  color: #6a717d;
  font-size: 10px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 1002.0298px;
  top: 847.5779px;
  width: 36.1761px;
  height: 20.4221px;
  text-align: center;
  align-items: center;
  flex-direction: column;
}
.bottom_label_9722 {
  color: #6a717d;
  font-size: 10px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 1058.8062px;
  top: 847.5779px;
  width: 36.1761px;
  height: 20.4221px;
  text-align: center;
  align-items: center;
  flex-direction: column;
}
.bottom_label_9723 {
  color: #6a717d;
  font-size: 10px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 1115.5827px;
  top: 847.5779px;
  width: 36.1761px;
  height: 20.4221px;
  text-align: center;
  align-items: center;
  flex-direction: column;
}
.bottom_label_9724 {
  color: #6a717d;
  font-size: 10px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 1172.3591px;
  top: 847.5779px;
  width: 36.1761px;
  height: 20.4221px;
  text-align: center;
  align-items: center;
  flex-direction: column;
}
.bottom_label_9725 {
  color: #6a717d;
  font-size: 10px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 1229.1356px;
  top: 847.5779px;
  width: 36.1761px;
  height: 20.4221px;
  text-align: center;
  align-items: center;
  flex-direction: column;
}
.bottom_label_9726 {
  color: #6a717d;
  font-size: 10px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 1285.912px;
  top: 847.5779px;
  width: 36.1761px;
  height: 20.4221px;
  text-align: center;
  align-items: center;
  flex-direction: column;
}
.bottom_label_9727 {
  color: #6a717d;
  font-size: 10px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 1342.6884px;
  top: 847.5779px;
  width: 36.1761px;
  height: 20.4221px;
  text-align: center;
  align-items: center;
  flex-direction: column;
}
.bottom_label_9728 {
  color: #6a717d;
  font-size: 10px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 1399.465px;
  top: 847.5779px;
  width: 36.1761px;
  height: 20.4221px;
  text-align: center;
  align-items: center;
  flex-direction: column;
}
.bottom_label_9729 {
  color: #6a717d;
  font-size: 10px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 1456.2414px;
  top: 847.5779px;
  width: 36.1761px;
  height: 20.4221px;
  text-align: center;
  align-items: center;
  flex-direction: column;
}
.bottom_label_97210 {
  color: #6a717d;
  font-size: 10px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 1513.0178px;
  top: 847.5779px;
  width: 36.1761px;
  height: 20.4221px;
  text-align: center;
  align-items: center;
  flex-direction: column;
}
.linechart_0 {
  position: absolute;
  left: 1017.9304px;
  top: 678.4573px;
  width: 536.8146px;
  height: 110.1105px;
  overflow: visible;
}
.icon10 {
  width: 100%;
  height: 100%;
}
.rectangle102 {
  position: absolute;
  left: 318px;
  top: 141px;
  width: 93px;
  height: 128px;
  outline: solid 1px #c6c6c6;
  outline-offset: -1px;
}
.group {
  position: absolute;
  left: 331.2209px;
  top: 151px;
  width: 65.41px;
  height: 65.41px;
  overflow: visible;
}
.icon11 {
  width: 100%;
  height: 100%;
}
.distributionEau2 {
  color: #000;
  font-size: 10px;
  line-height: 111.9%;
  font-weight: bold;
  font-family: Nunito, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 323px;
  top: 238px;
  width: 81px;
  height: 11px;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.rectangle142 {
  position: absolute;
  left: 634px;
  top: 141px;
  width: 93px;
  height: 128px;
  outline: solid 1px #c6c6c6;
  outline-offset: -1px;
}
.vector8 {
  position: absolute;
  left: 39.9876%;
  right: 55.9697%;
  top: 15.9082%;
  bottom: 77.4714%;
  overflow: visible;
}
.icon12 {
  width: 100%;
  height: 100%;
}
.electricite2 {
  color: #000;
  font-size: 10px;
  line-height: 111.9%;
  font-weight: bold;
  font-family: Nunito, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 643px;
  top: 238px;
  width: 74px;
  height: 11px;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.rectangle152 {
  position: absolute;
  left: 740px;
  top: 141px;
  width: 93px;
  height: 128px;
  outline: solid 1px #c6c6c6;
  outline-offset: -1px;
}
.vector9 {
  position: absolute;
  left: 46.6007%;
  right: 49.3566%;
  top: 15.9082%;
  bottom: 77.4714%;
  overflow: visible;
}
.icon13 {
  width: 100%;
  height: 100%;
}
.gas2 {
  color: #000;
  font-size: 10px;
  line-height: 111.9%;
  font-weight: bold;
  font-family: Nunito, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 759.2247px;
  top: 238px;
  width: 53.9508px;
  height: 10.8707px;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.rectangle132 {
  position: absolute;
  left: 529px;
  top: 141px;
  width: 92px;
  height: 128px;
  outline: solid 1px #c6c6c6;
  outline-offset: -1px;
}
.group2 {
  position: absolute;
  left: 542px;
  top: 156.2995px;
  width: 65.41px;
  height: 65.41px;
  overflow: visible;
}
.icon14 {
  width: 100%;
  height: 100%;
}
.gestionDecehets {
  color: #000;
  font-size: 10px;
  line-height: 111.9%;
  font-weight: bold;
  font-family: Nunito, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 548px;
  top: 238px;
  width: 54px;
  height: 11px;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.rectangle122 {
  position: absolute;
  left: 424px;
  top: 141px;
  width: 92px;
  height: 128px;
  outline: solid 1px #c6c6c6;
  outline-offset: -1px;
}
.group3 {
  position: absolute;
  left: 437.5474px;
  top: 151px;
  width: 65.4254px;
  height: 65.4116px;
  overflow: visible;
}
.icon15 {
  width: 100%;
  height: 100%;
}
.egouts {
  color: #000;
  font-size: 10px;
  line-height: 111.9%;
  font-weight: bold;
  font-family: Nunito, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 435px;
  top: 238px;
  width: 70px;
  height: 11px;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.rectangle162 {
  position: absolute;
  left: 846px;
  top: 141px;
  width: 93px;
  height: 128px;
  outline: solid 1px #c6c6c6;
  outline-offset: -1px;
}
.group4 {
  position: absolute;
  left: 859px;
  top: 157.1047px;
  width: 65.41px;
  height: 65.41px;
  overflow: visible;
}
.icon16 {
  width: 100%;
  height: 100%;
}
.autre2 {
  color: #000;
  font-size: 10px;
  line-height: 111.9%;
  font-weight: bold;
  font-family: Nunito, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 858.4764px;
  top: 233px;
  width: 68.0424px;
  height: 20.1309px;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.arrow {
  position: absolute;
  left: 565px;
  top: 186px;
  width: 11px;
  height: 20px;
  flex-direction: column;
  overflow: hidden;
}
.pieChart {
  position: absolute;
  left: 1335px;
  top: 216px;
  width: 188px;
  height: 188px;
}
.icon17 {
  width: 100%;
  height: 100%;
}
